@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --light: #57bb8e;
  --dark: #516c60;
  --primary: #e0efe8;
  --desc: #c0d6cc;
  --finalbg: #8ec93bed;
}
* {
  margin: 0;
  padding: 0;
} /* Profile Image Stylings */
.pfimg-bulls {
  width: 100px;
  border-radius: 50%;
  border: 6px solid var(--primary);
  outline: none;
} /* Heading Stylings */
.heading-bulls {
  font-size: 20px;
  color: var(--dark);
  letter-spacing: 0.5px;
  font-weight: bold;
} /* Info Stylings */
.info-bulls {
  color: var(--dark);
} /* Short Description Stylings */
.shortdesc-bulls {
  color: var(--desc);
} /* Tags Stylings */
.tag-bulls {
  background-color: var(--primary);
  color: var(--light);
  padding: 6px 14px;
  font-weight: bold;
  border-radius: 3px;
} /* Transparent Background Button Stylings */
.transbg-btn-bulls {
  background-color: #ffffff4b;
  color: var(--light);
  font-weight: bold;
  outline: none;
  border: none;
  padding: 6px 14px;
  border-radius: 3px;
} /* No Background Button Stylings */
.nobg-btn-bulls {
  background-color: transparent;
  color: var(--dark);
  outline: none;
  border: none;
  font-weight: bold;
  padding: 6px 14px;
} /* Card Stylings */
.card-bulls {
  background-color: #ffffff;
  padding: 1rem 1.2rem;
  border-radius: 6px;
} /* Card With Shadow Stylings */
.card-sh-bulls {
  background-color: #ffffff;
  padding: 1rem 1.2rem;
  border-radius: 6px;
  box-shadow: 5px 6px 15px 4px #57bb8e5d;
} /* Place Order Button Stylings */
.po-btn-bulls {
  display: block;
  width: 100%;
  background-color: var(--finalbg);
  border: none;
  outline: none;
  padding: 1.2rem 0;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 5px 6px 15px #516c6064;
} /* Text Color Stylings */
.cprimary-bulls {
  color: var(--primary);
}
.csecondary-bulls {
  color: var(--light);
}
.cternary-bulld {
  color: var(--dark);
} /* Margin Stylings */
.m1rem-bulls {
  margin: 1rem;
}
.m2rem-bulls {
  margin: 2rem;
}
.m3rem-bulls {
  margin: 3rem;
}
.m4rem-bulls {
  margin: 4rem;
}
.m5rem-bulls {
  margin: 5rem;
} /* Margin Left Stylings */
.m1rem-l-bulls {
  margin-left: 1rem;
}
.m2rem-l-bulls {
  margin-left: 2rem;
}
.m3rem-l-bulls {
  margin-left: 3rem;
}
.m4rem-l-bulls {
  margin-left: 4rem;
}
.m5rem-l-bulls {
  margin-left: 5rem;
} /* Margin Right Stylings */
.m1rem-r-bulls {
  margin-right: 1rem;
}
.m2rem-r-bulls {
  margin-right: 2rem;
}
.m3rem-r-bulls {
  margin-right: 3rem;
}
.m4rem-r-bulls {
  margin-right: 4rem;
}
.m5rem-r-bulls {
  margin-right: 5rem;
} /* Margin Top Stylings */
.m1rem-t-bulls {
  margin-top: 1rem;
}
.m2rem-t-bulls {
  margin-top: 2rem;
}
.m3rem-t-bulls {
  margin-top: 3rem;
}
.m4rem-t-bulls {
  margin-top: 4rem;
}
.m5rem-t-bulls {
  margin-top: 5rem;
} /* Margin Bottom Stylings */
.m1rem-b-bulls {
  margin-bottom: 1rem;
}
.m2rem-b-bulls {
  margin-bottom: 2rem;
}
.m3rem-b-bulls {
  margin-bottom: 3rem;
}
.m4rem-b-bulls {
  margin-bottom: 4rem;
}
.m5rem-b-bulls {
  margin-bottom: 5rem;
} /* Padding Stylings */
.p1rem-bulls {
  padding: 1rem;
}
.p2rem-bulls {
  padding: 2rem;
}
.p3rem-bulls {
  padding: 3rem;
}
.p4rem-bulls {
  padding: 4rem;
}
.p5rem-bulls {
  padding: 5rem;
} /* Padding Left Stylings */
.p1rem-l-bulls {
  padding-left: 1rem;
}
.p2rem-l-bulls {
  padding-left: 2rem;
}
.p3rem-l-bulls {
  padding-left: 3rem;
}
.p4rem-l-bulls {
  padding-left: 4rem;
}
.p5rem-l-bulls {
  padding-left: 5rem;
} /* Padding Right Stylings */
.p1rem-r-bulls {
  padding-right: 1rem;
}
.p2rem-r-bulls {
  padding-right: 2rem;
}
.p3rem-r-bulls {
  padding-right: 3rem;
}
.p4rem-r-bulls {
  padding-right: 4rem;
}
.p5rem-r-bulls {
  padding-right: 5rem;
} /* Padding Top Stylings */
.p1rem-t-bulls {
  padding-top: 1rem;
}
.p2rem-t-bulls {
  padding-top: 2rem;
}
.p3rem-t-bulls {
  padding-top: 3rem;
}
.p4rem-t-bulls {
  padding-top: 4rem;
}
.p5rem-t-bulls {
  padding-top: 5rem;
} /* Padding Bottom Stylings */
.p1rem-b-bulls {
  padding-bottom: 1rem;
}
.p2rem-b-bulls {
  padding-bottom: 2rem;
}
.p3rem-b-bulls {
  padding-bottom: 3rem;
}
.p4rem-b-bulls {
  padding-bottom: 4rem;
}
.p5rem-b-bulls {
  padding-bottom: 5rem;
}
